@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
:root{
    --nivel1-color:#FAF3DD;
    --nivel2-color:#C8D5B9;
    --nivel3-color:#8FC0A9;
    --nivel4-color:#68B0AB;
    --nivel5-color:#696D7D;
;
    
}

* {
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: var( --nivel1-color);
    font-family: 'roboto', sans-serif ;
    font-size: 1.3em;
    line-height: 1.5em;

}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: var(--nivel2-color);
    padding: 20px; 
    border-radius: 10px;
    
}